$colorBlack: #0C0C0C;
$colorGolden: #f8d300;
$colorGray: #545454;
$colorGrey: #AAAAAA;
$colorWhite: #FFFFFF;
$colorCrimson: #F5EFDB;
$fontBase: 'Cormorant Upright', serif;
$fontAlt: 'Open Sans', sans-serif;
